body{
    background-image: linear-gradient(
        to bottom right,
        rgb(61, 59, 64),
        #525ceb );
}
.search{
    border: 2px solid white;
    background:transparent;
}
.search::placeholder{
    color: white;
}
.search:focus::placeholder{
    color: red;
}
.search-btn{
    background: transparent;
    border: 2px solid white;
}

.nav-item a{
    color: white;
    transition: .5s ease-in-out;
}
.nav-item a:hover{
    color: red;
    font-size: 400;
}
/* .navbar-brand{
} */
.btn.btn.btn-outline-primary{
    border-color: white;

}
.btn-outline-primary {
    border-width: 2px;
    --bs-btn-font-weight: 600;
    --bs-btn-color: #ff8c8c;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #ff8c8c;
    --bs-btn-hover-color: #FF8C8C;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: #FF8C8C;
    --bs-btn-focus-shadow-rgb: rgb(139,112,112);
    --bs-btn-active-color:#FF8C8C;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: #FF8C8C;
}
.btn-primary {
    border-width: 2px;
    background-color: #FF8C8C;
    --bs-btn-font-weight: 600;
    --bs-btn-color: white;
    --bs-btn-bg: #ff8c8c;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #FF8C8C;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: #FF8C8C;
    --bs-btn-focus-shadow-rgb: rgb(139,112,112);
    --bs-btn-active-color:white;
    --bs-btn-active-bg: #FF8C8C;
    --bs-btn-active-border-color: #FF8C8C;
}
.product-search{
    background-image: linear-gradient(
        rgba(4,9,30,0.7),
        rgba(4,9,30,0.7)
    ),url(wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}
.border{
    border-color: black;
}
.photo{
    background-color:transparent;
}

#item:hover{
    transform: scale(1.1);
    z-index:2;
}
h6{
    color: white;
    font-weight: bold;
}
.Footer-link a{
    text-decoration: none;
    color:white;
    font-size:15px;
    
}

.Footer-link a:hover{
    color:rgb(240, 83, 26);
    transition: 0.3s ease-in-out;
}

.Footer-link{
    background-image: linear-gradient(
        to bottom right,
        rgb(82, 92, 235)
        #3d3b40,
        
    );
    
}

.shop-link-color{
    color:rgb(219, 9, 9);
}

/* mobile view */
.footer_payments_2{
    display: none;
}

.nav2{display: none;}

@media (max-width:717px) {
    .footer_payments{display: none;}
    .footer_payments_2{
        display: block;

    }
    .nav{display: none;}
    .nav2{display: block}
}

@media (max-width:1024px) {
    .nav{display: none;}
    .nav2{display: block;}
}


/* navbar hide */
.nav,.nav2{
    width:100%;
    height: 80px;
    position: fixed;
    top:0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  
    transition: transform 0.2s;
}

.nav2{
    height: 100px;
}

.nav--hidden{
    transform: translateY(calc(-1 * 80px));
    
}

.nav---hidden{
    transform: translateY(calc(-1 * 100px));
}

 /* .nav,.nav2{
    background-image: linear-gradient(
        to bottom right,
        rgb(61, 59, 64),
        #525ceb );
    
}  */

/* add to cart */

/* .cartContainer{
    transition: transform .5s;
}

.icon-cart{
    position: relative;
} */

/* cart icon */
/* .icon-cart span{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 50%;
    position: absolute;
    top:60%;
    right:-15px;
    
} */
/* /cart icon */

/* .cartTab {
    width: 400px;
    background-color: #3d3b40;
    color:white;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    z-index: 10000;
    transition: .5s;
}

body.sowCart .cartTab{
    inset:0 0 0 auto;
}

body.showCart .container{
    transform: translateX(-300px);
}

.cartTab h1{
    padding:20px;
    margin:0;
    font-weight: 300;
}

.cartTab .cartBtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .cartBtn button{
    background-color: darkgoldenrod;
    border:none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .cartBtn .close{
    background-color:whitesmoke;
} */


